[submodule "thirdparty/jbig2dec"]
	path = mupdf/thirdparty/jbig2dec
	url = git://git.ghostscript.com/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = mupdf/thirdparty/mujs
	url = git://git.ghostscript.com/mujs.git
[submodule "thirdparty/freetype"]
	path = mupdf/thirdparty/freetype
	url = git://git.ghostscript.com/thirdparty/freetype.git
[submodule "thirdparty/harfbuzz"]
	path = mupdf/thirdparty/harfbuzz
	url = git://git.ghostscript.com/thirdparty/harfbuzz.git
[submodule "thirdparty/jpeg"]
	path = mupdf/thirdparty/jpeg
	url = git://git.ghostscript.com/thirdparty/jpeg.git
[submodule "thirdparty/openjpeg"]
	path = mupdf/thirdparty/openjpeg
	url = git://git.ghostscript.com/thirdparty/openjpeg.git
[submodule "thirdparty/zlib"]
	path = mupdf/thirdparty/zlib
	url = git://git.ghostscript.com/thirdparty/zlib.git
[submodule "thirdparty/glfw"]
	path = mupdf/thirdparty/glfw
	url = git://git.ghostscript.com/thirdparty/glfw.git
[submodule "thirdparty/curl"]
	path = mupdf/thirdparty/curl
	url = git://git.ghostscript.com/thirdparty/curl.git
