[submodule "thirdparty/jbig2dec"]
	path = mupdf/thirdparty/jbig2dec
	url = git://git.ghostscript.com/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = mupdf/thirdparty/mujs
	url = git://git.ghostscript.com/mujs.git
[submodule "thirdparty/freetype"]
	path = mupdf/thirdparty/freetype
	url = git://git.ghostscript.com/thirdparty-freetype2.git
[submodule "thirdparty/harfbuzz"]
	path = mupdf/thirdparty/harfbuzz
	url = git://git.ghostscript.com/thirdparty-harfbuzz.git
[submodule "thirdparty/jpeg"]
	path = mupdf/thirdparty/libjpeg
	url = git://git.ghostscript.com/thirdparty-libjpeg.git
[submodule "thirdparty/lcms2"]
	path = mupdf/thirdparty/lcms2
	url = git://git.ghostscript.com/thirdparty-lcms2.git
[submodule "thirdparty/openjpeg"]
	path = mupdf/thirdparty/openjpeg
	url = git://git.ghostscript.com/thirdparty-openjpeg.git
[submodule "thirdparty/zlib"]
	path = mupdf/thirdparty/zlib
	url = git://git.ghostscript.com/thirdparty-zlib.git
[submodule "thirdparty/curl"]
	path = mupdf/thirdparty/curl
	url = git://git.ghostscript.com/thirdparty-curl.git
[submodule "thirdparty/freeglut"]
	path = mupdf/thirdparty/freeglut
	url = git://git.ghostscript.com/thirdparty-freeglut.git
